* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
}

.quiz-wrapper {
  border: 1px solid grey;
  padding: 10px;
}

.quiz-wrapper p {
  color: grey;
  font-size: 20px;
  font-weight: bold;
}
